body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

header {
    position: absolute;
    top: 20px;
    left: 20px;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    color: #666;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px; /* To give space for the header */
}

#canvasContainer {
    margin-right: 20px;
}

canvas {
    border: 1px solid black;
}

#controlPanel {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.control {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="range"] {
    width: 100%;
    margin-bottom: 5px;
}

#particleSizeValue {
    display: inline-block;
    width: 20px;
    text-align: right;
}

button {
    padding: 10px 20px;
    background-color: #808080; /* Changed to grey */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #A9A9A9;
}